.brandTitle {
  color: #00adef;
}

.danProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1.5rem;
}

.danImage {
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  position: relative;
  min-height: 145px;
  min-width: 145px;
}

.danLinks {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  font-size: small;
  width: 220px;
  height: 140px;
  justify-content: space-between;
}

.vimeo {
  padding: 0.25rem;
  border: #e5e5e5 1px solid;
  border-radius: 0.5rem;
  font-weight: 500;
}

.vimeo:hover {
  background-color: #00adef;
}

.youtube {
  padding: 0.25rem;
  border: #e5e5e5 1px solid;
  border-radius: 0.5rem;
  font-weight: 500;
}

.youtube:hover {
  background-color: #ff0000;
}

.linkedin {
  padding: 0.25rem;
  border: #e5e5e5 1px solid;
  border-radius: 0.5rem;
  font-weight: 500;
}

.linkedin:hover {
  background-color: #0077b5;
}

.linkText {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
}

/* .text {
  flex: 1;
}

.icon {
} */
