html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
h1 {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.025em;
  z-index: 1;
}
@keyframes slideUp {
  0% {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
h1 a {
  text-decoration: none;
  color: #0092f3;
}
h1 a:hover,
h1 a:focus,
h1 a:active {
  text-decoration: underline;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
footer {
  color: #222;
  display: flex;
  flex: 1;
  padding: 2rem;
}
footer a {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 0.5rem;
}
li[data-name='Productions'] {
  color: #0092f3;
  font-style: bold;
  font-weight: 900;
}
/* sidebar */
nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  border-bottom: 1px solid #ffffff;
  transition: 0.5s;
}
header {
  color: #0092f3;
  font-weight: 900;
  font-size: 2rem;
  padding-bottom: 1rem;
}
@keyframes slideUp {
  0% {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* desktop */
@media only screen and (min-width: 600px) {
  nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    padding-top: 2rem;
    width: 15rem;
    border-right: 0.01rem solid #ffffff;
    border-bottom: 0;
  }
  section {
    width: 60%;
  }
  header {
    color: #0092f3;
    font-weight: 900;
    font-size: 2rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
  }
}
/* dark mode */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
  h1 {
    background: linear-gradient(180deg, #ffffff 0%, #aaaaaa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  h1 a {
    background: linear-gradient(180deg, #0092f3 0%, #0186de 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
/* temp video */
video {
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  opacity: 15%;
  z-index: -1;
  opacity: 60%;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 60%;
  }
}
