:root {
  font-family: Inter, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 100%;
  line-height: 1.75;
  text-rendering: optimizeSpeed;
}

html,
body {
  height: 100%;
  color: #e5e5e5;
  background: #111010;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
hr {
  border: 1px solid #e5e5e5;
  margin-bottom: 1.5rem;
}
h1 {
  margin: 0;
  line-height: 1.15;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.025em;
  z-index: 1;
  padding-bottom: 1rem;
}
h1 a {
  text-decoration: none;
  color: #7bccfe;
}
h1 a:hover,
h1 a:focus,
h1 a:active {
  text-decoration: underline;
}
h2 {
  padding-bottom: 0.5rem;
}
b {
  color: #7bccfe;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
footer {
  color: #222;
  display: flex;
  flex: 1;
  padding: 2rem;
}
p {
  margin: 1rem 0 1rem;
}
footer a {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 0.5rem;
  border: #e5e5e5 2px solid;
  background-color: transparent;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
li:hover {
  color: black;
  border: #e5e5e5 2px solid;
  background-color: #e5e5e5;
}
li[data-name='Productions']:hover {
  color: #e5e5e5;
  background-color: #7bccfe;
  border: #7bccfe 2px solid;
}
/* sidebar */
nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 2.5rem;
  border-bottom: 2px solid #e5e5e5;
}
header {
  font-weight: 900;
  font-size: 2rem;
  padding-top: 1rem;
}
/* desktop */
@media only screen and (min-width: 600px) {
  nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 15rem;
    border-right: 2px solid #e5e5e5;
    border-bottom: 0;
  }
  section {
    width: 60%;
  }
  header {
    font-weight: 900;
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}
/* dark mode */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #e5e5e5;
    background: #111010;
  }
  hr {
    border: 1px solid #e5e5e5;
  }
  header {
    color: #e5e5e5;
  }
  li {
    border: #e5e5e5 2px solid;
  }
  /* li[data-name='Productions'] {
    border: #e5e5e5 2px solid;
  } */
  nav {
  }
}

@media only screen and (min-width: 600px) and (prefers-color-scheme: dark) {
  nav {
    border-right: 2px solid #e5e5e5;
    border-bottom: 0;
  }
}

/* temp video */
video {
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  opacity: 15%;
  z-index: -1;
  opacity: 90%;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 60%;
  }
}
